<?xml version="1.0" encoding="UTF-8"?>
<web-app >
	<display-name>Presentation2</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.controller.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ValidateRegister</servlet-name>
		<servlet-class>com.controller.ValidateRegister</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ValidateRegister</servlet-name>
		<url-pattern>/ValidateRegister</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ValidateDeposit</servlet-name>
		<servlet-class>com.controller.ValidateDeposit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ValidateDeposit</servlet-name>
		<url-pattern>/ValidateDeposit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ValidateTransfer</servlet-name>
		<servlet-class>com.controller.ValidateTransfer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ValidateTransfer</servlet-name>
		<url-pattern>/ValidateTransfer</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Cp</servlet-name>
		<servlet-class>com.controller.Cp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Cp</servlet-name>
		<url-pattern>/Cp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ValidateWithdraw</servlet-name>
		<servlet-class>com.controller.ValidateWithdraw</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ValidateWithdraw</servlet-name>
		<url-pattern>/ValidateWithdraw</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Da</servlet-name>
		<servlet-class>com.controller.Da</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Da</servlet-name>
		<url-pattern>/Da</url-pattern>
	</servlet-mapping>
	<listener>
		<display-name>Online</display-name>
		<listener-class>com.controller.Online</listener-class>
	</listener>
	<servlet>
		<servlet-name>Ce</servlet-name>
		<servlet-class>com.controller.Ce</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Ce</servlet-name>
		<url-pattern>/Ce</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>Spy</filter-name>
		<filter-class>com.controller.Spy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Spy</filter-name>
		<url-pattern>/Home.jsp</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>ValidateLogin</servlet-name>
		<servlet-class>com.controller.ValidateLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ValidateLogin</servlet-name>
		<url-pattern>/ValidateLogin</url-pattern>
	</servlet-mapping>
	<tag> 
					<taglib-uri>a</taglib-uri>
                <taglib-location>
                  /WEB-INF/mytag.tld
                </taglib-location>
</tag>
</web-app>